<section class='banner'>  
  <div class='container banner_content'> 
    <div class="row">
      <div class="col-md-12">
        <div class="banner_content_inner text-center">
          <h1>Your child’s day, delivered real-time.</h1>
          <h4>A window into your child’s day and easy tools for early education, all from one simple app.</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='tab_section custom_tab_section'>  
  <div class='container'> 
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a data-toggle="tab" href="#features_parents">Features for Parents</a>
            </li>
            <li>
              <a data-toggle="tab" href="#invite_school">Invite your School</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="invite_school" class="tab-pane in controller">
              <div class='row text-center padding25'>
                <h1 class='padding15'>Invite your school to Juntos.</h1>
                <p>Want to see Juntos used at your child’s school or daycare? Click below to invite your school to take advantage of our free app and easy billing!</p>
                <%= link_to 'Invite your school', '#', :class => 'btn btn-default' %>
              </div>
            </div>
            <div id="features_parents" class="tab-pane in active controller">
              <div class="row services_row padding25">
                <div class="col-md-6 text-center">
                  <h2>Your child’s day, delivered real-time.</h2>
                  <hr class="primary-small">
                  <div class='row'>
                    <span class='col-md-2 circle_icon photo'>
                      <i class='fa fa-clock-o fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>DAILY UPDATES</h3>
                      <p>Real-time feed of activities throughout the day.</p>
                    </div>
                  </div>
                  <div class='row'>
                    <span class='col-md-2 circle_icon calendar'>
                      <i class='fa fa-camera fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>PHOTOS</h3>
                      <p>Watch your child’s day unfold with snapshots delivered right to your mobile device.</p>
                    </div>
                  </div>
                  <div class='row'>
                    <span class='col-md-2 circle_icon comment'>
                      <i class='fa fa-comments fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>STAY CONNECTED</h3>
                      <p>Stay in touch with your teacher and strengthen school learning with activities at home.</p>
                    </div>
                  </div>
                  <div class='row'>
                    <span class='col-md-2 circle_icon first'>
                      <i class='fa fa-mobile-phone fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>DIGITAL CHECK-IN</h3>
                      <p>Easy digital check-ins with your personal passcode. Add approved adults to pick up your child, and see when your child is checked in or out. Coming soon: Check in from your own phone!</p>
                    </div>
                  </div>
                  <div class='row'>
                    <span class='col-md-2 circle_icon comment'>
                      <i class='fa fa-money fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>PAPERLESS BILLING</h3>
                      <p>Digital payments directly from your bank account. Paperless invoices and receipts emailed to you. Coming soon: Credit and debit card payment options!</p>
                    </div>
                  </div>
                  <div class='row'>
                    <span class='col-md-2 circle_icon first'>
                      <i class='fa fa-child fa-2x'></i>
                    </span>
                    <div class='col-md-10 text-left part_content'>
                      <h3>YOUR CHILD’S COMMUNITY</h3>
                      <p>Invite grandparents, nannies, and friends – with control over what they can do and see on brightwheel.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <%= image_tag 'school.jpg', :class => 'img-services auto-fill' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
