<% provide(:title, "Events") %>
<div class="page-breadcrumbs">
  <ul class="breadcrumb">
    <% if session[:role_type] == "Admin" %>
      <li>
        <i class="fa fa-home"></i>
        <%= link_to 'Home', new_activity_path %>
      </li>
      <li class="active"><%= link_to 'Events', '#' %></li>
    <% else %>
      <li>
        <i class="fa fa-home"></i>
        <%= link_to 'Home', school_users_schoolUserHomeView_path %>
      </li>
      <li class="active">Events</li>
    <% end %>
  </ul>
</div>

<!-- Page Header -->
<div class="page-header position-relative">
  <div class="header-title">
    <h1><%= yield(:title) %></h1>
  </div>
  <!--Header Buttons-->
  <div class="header-buttons">
    <a class="sidebar-toggler" href="#">
      <i class="fa fa-arrows-h"></i>
    </a>
    <a class="refresh" id="refresh-toggler" href="">
      <i class="glyphicon glyphicon-refresh"></i>
    </a>
    <a class="fullscreen" id="fullscreen-toggler" href="#">
      <i class="glyphicon glyphicon-fullscreen"></i>
    </a>
  </div>
  <!--Header Buttons End-->
</div>
<!-- /Page Header -->
  
<div class="page-body">
  <div class="row">
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class="div-upcoming-events">
        <div id="calendar" class="calendar-upcoming-events"></div>
      </div>
    </div>
  </div>
</div>

<script>
  
  $(document).ready(function($) {
      
    $('#calendar').fullCalendar({
      defaultView: 'agendaWeek',
      events: '/events.json',
      height: 480,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,oneweek,day' // buttons for switching between views
      },
      views: {
          month: {
              type: 'agenda',
              duration: { days: 30 },
              buttonText: 'Month'
          },
          oneweek: {
              type: 'agenda',
              duration: { days: 7 },
              buttonText: 'Week'
          },
          day: {
              type: 'agenda',
              duration: { days: 1 },
              buttonText: 'Day'
          }
      },
      eventClick: function(event, jsEvent, view) {}
    });
  });
</script>
